[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
"beautifulsoup4" = "*"
requests = "*"
gunicorn = "*"
requests-cache = "*"

[dev-packages]
pylint = "<2.0.0"
"autopep8" = "*"
pytest = "*"

[requires]
python_version = "3.6"
